.main{
    border: 1px solid white;
    background-color: white;
    height: 550px;
}

.main-out{
    border: 1px solid black;
    height: 400px;
    margin: 50px;
}

.name{
    text-align: center;
    font-size: 20px;
    padding: 20px 0 10px 0;
    margin-top: 20px;
}

.name-ul{
    display: inline-block;
    position: absolute;
    left: 40%;
    width: 40%;
}

.name-li{
    line-height: 60px;
    padding-left: 5px;
    text-align: left;
}

.li-span{
    margin-right: 31px;
}

.confirm, .cancel{
    display:inline-block;
    margin-top: 80px;
    height: 30px;
    width: 20%;
    background-color: #5C37A1;
    border: 1px solid #5C37A1;
    font-size: 1.0rem;
    border-radius: 10px;
    color:white;
    cursor: pointer;
}

.cancel{
   float: right;
   margin-right: 60px;
}

.confirm{
    margin-left: 60px;
}

input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 70%;
} 

input[type=text]:focus {
    border-color:#333;
}