.main{
    border: 1px solid white;
    background-color: white;
    height: 550px;
}

p{
    position: absolute;
    padding-left: 250px;
    padding-top: 20px;
}

#bat_btn{
    display:inline-block;
    float: right;
    margin: 10px 30px 10px 0px;
    width: 100px;
    height: 30px;
    background-color: #5C37A1;
    border: none;
    color:white;
    font-size: 14px;
    border-radius: 10px;
    cursor:pointer;
}

table{
    border: 3px solid black;
    width: 100%;
    height: 45px;
    text-align: center;
    line-height: 1.8rem;
}

th{
    border: 1px solid black;
}

td{
    border: 1px solid black;
}

.update{
    margin: 5px 0px;
    width: 60px;
    height: 30px;
    background-color:gray;
    border: none;
    color:white;
    font-size: 14px;
    border-radius: 5px;
    cursor:pointer;
}