body{
/*     color: white; */
    background-color: #31105E;
}

#bar{
    height: 40px;
    background-color: #5C37A1;
    overflow: hidden;
    position:fixed;
    width: 100%;
    z-index: 10;
}
 
#title{
    float: left;
    margin-left: 20px;
    overflow: hidden;
}
 
img{
    width: 35px;
    margin-top: 3px;
}
 
.bar_li{
    float: left;
}
 
a{
    color: #fff;
    text-decoration: none;
    line-height: 40px;
}

a#CloudGYM{
	margin-left: 10px;
}

i.bi-cart-fill span.-on{
	display: none;
}
 
#option{
    float: right;
    overflow: hidden;
}

#option ul{
    margin-right: 20px;
}
 
.option{
    float: left;
    color: white;
    line-height: 40px;
    margin: 0 10px;
    font-size: 14px;
    position: relative;
}

.bi{
    margin-top: 7px;
}

/***************************以上複製貼上****************************/

#main{
    padding: 70px;
    background-color: #31105E;
}

#form{
    background-color: #EDE9F2;
    padding: 50px;
    margin:0px auto;
    width: 700px;
    height: 370px;
    border-radius: 10px;
}

#box1{
    /* overflow: hidden; */
    border: black;
    /* border:1px solid #000; */
}

#form_title{
    position: absolute;
    font-weight: bold;
    font-size: 30px;
    float: left;
    color: black;
    /* border:1px solid #000; */
}

#box2{
    position: absolute;
    padding-top: 50px;
    font-weight: bold;
    float: left;
    width: 300px;
    color: black;
    margin-left: 50px;
    /* border:1px solid #000; */
}

div#box2 li{
    margin-top: 50px;
}

div#box2 input{
    border: none;
    border-bottom: 1px solid black;
    background-color: #EDE9F2;
    outline:none;
    padding-left: 5px;
    padding-bottom: 5px;
}

div#box2 select{
    margin-top: 10px;
    height: 25px;
}

div#box2 option{
    height: 25px;
}

#post_box{
    /* border:1px solid #000; */
    float: right;
    height: 217px;
    width: 380px;
    padding-top: 65px;
}

#post_box ul{
    margin-left: 100px;
}

#post_box li{
    margin-top: 25px;
}

#post_box p{
    font-weight: bold;
}

#post_box select{
    margin-top: 10px;
    height: 25px;
}

#button_area{
    padding-top: 60px;
    /* padding-left: 280px; */
    /* border:1px solid #000; */
    clear: both;
    text-align: center;
}

button.btn{
    background-color: #5C37A1;
    color: white;
    border-radius: 15px;
    width: 100px;
    border: none;
    height: 30px;
    margin: 0 50px;
}

/***************************以下複製貼上****************************/

i.-on{
    display: none;
}

i.bi-cart-fill{
    font-size: 25px;
    position: absolute;
    top: -6px;
    left: -6px;
}

i.bi-cart-fill span{
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color:#ffffff;
    font-size: 8px;
    position: absolute;
    top:0;
    right:-3px;
    font-family: arial;
}

i.bi:hover{
    color:#bebebe;
}