body{
/*     color: white; */
    background-color: #31105E;
}

#bar{
    height: 40px;
    background-color: #5C37A1;
    overflow: hidden;
    position:fixed;
    width: 100%;
    z-index: 10;
}
 
#title{
    float: left;
    margin-left: 20px;
    overflow: hidden;
}
 
img{
    width: 35px;
    margin-top: 3px;
}
 
.bar_li{
    float: left;
}
 
a{
    color: #fff;
    text-decoration: none;
    line-height: 40px;
}

a#CloudGYM{
	margin-left: 10px;
}

i.bi-cart-fill span.-on{
	display: none;
}
 
#option{
    float: right;
    overflow: hidden;
}

#option ul{
    margin-right: 20px;
}
 
.option{
    float: left;
    color: white;
    line-height: 40px;
    margin: 0 10px;
    font-size: 14px;
    position: relative;
}

.bi{
    margin-top: 7px;
}

/***************************以上複製貼上****************************/


.container{
    background-color: #ECE9F2;
    border-radius: 25px;
	padding-top: 60px;
}

.container h1{
    padding-top: 30px;
    margin-left: 30px;
}


.sub{
    text-align: center;
}

.subA button{
    width: 150px;
    margin: 30px;
}

.form-label{
    font-size: 20px;
    font-weight:bold;
}

/***************************以下複製貼上****************************/

i.-on{
    display: none;
}

i.bi-cart-fill{
    font-size: 25px;
    position: absolute;
    top: -6px;
    left: -6px;
}

i.bi-cart-fill span{
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color:#ffffff;
    font-size: 8px;
    position: absolute;
    top:0;
    right:-3px;
    font-family: arial;
}

i.bi:hover{
    color:#bebebe;
}